ETHERSCAN_API_KEY=ABC123ABC123ABC123ABC123ABC123ABC1
ROPSTEN_URL=https://eth-ropsten.alchemyapi.io/v2/<YOUR ALCHEMY KEY>
PRIVATE_KEY=0xabc123abc123abc123abc123abc123abc123abc123abc123abc123abc123abc1
COINMARKETCAP_API_KEY=dfdsfdgdfgfgdfgsdfgdfgff
AUTO_FUND=true
REPORT_GAS=true
UPDATE_FRONT_END=true